@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #fafafa;
  color: #222;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #0ea5e9;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in;
}

a:hover {
  border-bottom: 2px solid #0ea5e9;
}

.header nav {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
  padding: 1.5rem 1rem;
}

.header h1 {
  font-size: 1.25rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 1rem;
}

.hero-section h2 {
  font-size: 3rem;
  font-weight: normal;
  max-width: 30ch;
  line-height: 1.1;
}

.project-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-links {
  display: flex;
  gap: 1.25rem;
}

.project-links a {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.project-image {
  border-radius: 0.75rem;
}

.project-name {
  font-size: 1.3rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .hero-section h2 {
    font-size: 2rem;
  }
}
